<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>dev.chayanon.templates.app</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>NameOfInitialFileForEditor</key>
	<string>Assembler.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Welcome</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The name of the scene&apos;s controller created</string>
			<key>Identifier</key>
			<string>sceneControllerName</string>
			<key>Name</key>
			<string>Scene Controller Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>Cocoa</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Override</key>
			<string>Storyboard</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewFileType</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Units</key>
			<dict>
				<key>Storyboard</key>
				<dict>
					<key>RequiredOptions</key>
					<dict>
						<key>userInterface</key>
						<string>Storyboard</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift</string>
						<string>SceneDelegate.swift</string>
						<string>Assembler/Assembler.swift</string>
						<string>Assembler/TransitionCoordinator.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Interactor.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Model.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Presenter.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Router.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Worker.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___SceneModule.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___ViewController.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___ViewController.xib</string>
						<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
						<string>Base.lproj/Main.storyboard</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>98</integer>
						</dict>
						<key>AppDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>AppDelegate.swift</string>
						</dict>
						<key>SceneDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>SceneDelegate.swift</string>
						</dict>
						<key>Assembler/Assembler.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Assembler</string>
							</array>
							<key>Path</key>
							<string>Assembler/Assembler.swift</string>
						</dict>
						<key>Assembler/TransitionCoordinator.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Assembler</string>
							</array>
							<key>Path</key>
							<string>Assembler/TransitionCoordinator.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Interactor.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Interactor.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Model.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Model.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Presenter.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Presenter.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Router.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Router.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Worker.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Worker.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___SceneModule.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___SceneModule.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___ViewController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___ViewController.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___ViewController.xib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___ViewController.xib</string>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
								<string>Main</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>SwiftUI</key>
				<dict>
					<key>RequiredOptions</key>
					<dict>
						<key>userInterface</key>
						<string>Storyboard</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift</string>
						<string>SceneDelegate.swift</string>
						<string>Assembler/Assembler.swift</string>
						<string>Assembler/TransitionCoordinator.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Interactor.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Model.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Presenter.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Router.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___Worker.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___SceneModule.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___ViewController.swift</string>
						<string>Scene/___VARIABLE_sceneName:identifier___View.swift</string>
						<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
						<string>Base.lproj/Main.storyboard</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>98</integer>
						</dict>
						<key>AppDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>AppDelegate.swift</string>
						</dict>
						<key>SceneDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>SceneDelegate.swift</string>
						</dict>
						<key>Assembler/Assembler.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Assembler</string>
							</array>
							<key>Path</key>
							<string>Assembler/Assembler.swift</string>
						</dict>
						<key>Assembler/TransitionCoordinator.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Assembler</string>
							</array>
							<key>Path</key>
							<string>Assembler/TransitionCoordinator.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Interactor.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Interactor.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Model.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Model.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Presenter.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Presenter.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Router.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Router.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___Worker.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/Storyboard/___FILEBASENAME___Worker.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___SceneModule.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/SwiftUI/___FILEBASENAME___SceneModule.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___ViewController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/SwiftUI/___FILEBASENAME___ViewController.swift</string>
						</dict>
						<key>Scene/___VARIABLE_sceneName:identifier___View.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Scene</string>
							</array>
							<key>Path</key>
							<string>../Scene.xctemplate/SwiftUI/___FILEBASENAME___View.swift</string>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
								<string>Main</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<key>Default</key>
			<string>SwiftUI</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
