<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Identifier</key>
	<string>dev.chayanon.templates.scene</string>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>This generates a new scene using Uncle Bob&apos;s clean architecture. It consists of the view controller, interactor, presenter, and router. You can then create individual workers to supplement the interactor.</string>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_sceneName:identifier___Interactor.swift</string>
		<string>___VARIABLE_sceneName:identifier___Model.swift</string>
		<string>___VARIABLE_sceneName:identifier___Presenter.swift</string>
		<string>___VARIABLE_sceneName:identifier___Router.swift</string>
		<string>___VARIABLE_sceneName:identifier___Worker.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_sceneName:identifier___Interactor.swift</key>
		<dict>
			<key>Path</key>
			<string>Shared/___FILEBASENAME___Interactor.swift</string>
		</dict>
		<key>___VARIABLE_sceneName:identifier___Model.swift</key>
		<dict>
			<key>Path</key>
			<string>Shared/___FILEBASENAME___Model.swift</string>
		</dict>
		<key>___VARIABLE_sceneName:identifier___Presenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Shared/___FILEBASENAME___Presenter.swift</string>
		</dict>
		<key>___VARIABLE_sceneName:identifier___Router.swift</key>
		<dict>
			<key>Path</key>
			<string>Shared/___FILEBASENAME___Router.swift</string>
		</dict>
		<key>___VARIABLE_sceneName:identifier___Worker.swift</key>
		<dict>
			<key>Path</key>
			<string>Shared/___FILEBASENAME___Worker.swift</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The name of the scene&apos;s controller created</string>
			<key>Identifier</key>
			<string>sceneControllerName</string>
			<key>Name</key>
			<string>Scene Controller Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>SwiftUI</string>
				<string>Storyboard</string>
			</array>
			<key>Units</key>
			<dict>
				<key>SwiftUI</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>___VARIABLE_sceneName:identifier___Interactor.swift</string>
							<string>___VARIABLE_sceneName:identifier___Model.swift</string>
							<string>___VARIABLE_sceneName:identifier___Presenter.swift</string>
							<string>___VARIABLE_sceneName:identifier___Router.swift</string>
							<string>___VARIABLE_sceneName:identifier___SceneModule.swift</string>
							<string>___VARIABLE_sceneName:identifier___View.swift</string>
							<string>___VARIABLE_sceneName:identifier___ViewController.swift</string>
							<string>___VARIABLE_sceneName:identifier___Worker.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_sceneName:identifier___Interactor.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___Interactor.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Model.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___Model.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Presenter.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___Presenter.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Router.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___Router.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___SceneModule.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___SceneModule.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___View.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___View.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___ViewController.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Worker.swift</key>
							<dict>
								<key>Path</key>
								<string>SwiftUI/___FILEBASENAME___Worker.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Storyboard</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>___VARIABLE_sceneName:identifier___Interactor.swift</string>
							<string>___VARIABLE_sceneName:identifier___Model.swift</string>
							<string>___VARIABLE_sceneName:identifier___Presenter.swift</string>
							<string>___VARIABLE_sceneName:identifier___Router.swift</string>
							<string>___VARIABLE_sceneName:identifier___SceneModule.swift</string>
							<string>___VARIABLE_sceneName:identifier___ViewController.swift</string>
							<string>___VARIABLE_sceneName:identifier___ViewController.xib</string>
							<string>___VARIABLE_sceneName:identifier___Worker.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_sceneName:identifier___Interactor.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___Interactor.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Model.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___Model.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Presenter.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___Presenter.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Router.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___Router.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___SceneModule.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___SceneModule.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___ViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___ViewController.swift</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___ViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___ViewController.xib</string>
							</dict>
							<key>___VARIABLE_sceneName:identifier___Worker.swift</key>
							<dict>
								<key>Path</key>
								<string>Storyboard/___FILEBASENAME___Worker.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Default</key>
			<string>SwiftUI</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Summary</key>
	<string>This generates a new scene using Uncle Bob&apos;s clean architecture.</string>
</dict>
</plist>
